html,
body{
	height:100%;
	width:100%;
	margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Candara;
    background-color: #d9d9d9;
}

.container {
	display: flex;
	justify-content: center;
  	align-items: center;
  	width:65%;
  	height: 100%;
  	background-color:white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	overflow: auto; 
}

.container > * {
    margin: auto;
}

button {
	font-family: Candara;
}

input {
	font-family: Candara;
}

table {
	border-spacing: 15px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.key {
	width: 100%;
	height: 100%;
	background-color: #18b3b3;
	border-radius: 8px;
	border: none;
	margin: 10px;
	min-width: 20px;
	cursor: pointer;
}

.key:hover {
	background-color: #5dc2c2;
	transition: ease 0.25s;
	box-shadow: 3px 3px 2px #a1e3e3;
}

.key-disabled{
	width: 100%;
	height: 100%;
	background-color: gray;
	border-radius: 8px;
	border: none;
	margin: 10px;
	min-width: 20px;
	cursor:default;
	color:black;
}

.key-form{
	margin:2px;
	transition: ease 0.25s;
}

.generic-btn {
	background-color: #18b3b3;
	border-radius: 8px;
	border: none;
	min-height: 35px;
	min-width: 170px;
	cursor: pointer;
}

.generic-btn:hover {
	background-color: #5dc2c2;
	transition: ease 0.25s;
	box-shadow: 4px 4px 2px #a1e3e3;
}

.multiplayer-select{
	background-color: #18b3b3;
	min-width: 100px;
	border-radius: 8px;
	border: none;
	min-height:35px;
	text-align: center;
	font-family: Candara;
	cursor: pointer;
}

.multiplayer-input{
	min-width: 25px;
	margin: 8px;
	-webkit-text-security: disc;
    text-security: disc;
}

.small-btn {
	min-width: 100px;
}

.content {
	text-align: center;
}

.stickman {
	max-height: 250px;
	width: auto;
}

.stickman-big{
	max-height: 400px;
	width: auto;
}

.success {
	color: green;
}

.error {
	color: red;
}

.preserve-space {
	white-space: pre;
}