<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gameRepository" class="com.proxiad.trainee.GameRepositoryImpl"></bean>
    <bean id="wordGeneratorService" class="com.proxiad.trainee.WordGeneratorServiceImpl"></bean>
    
    <bean id="gameService" class="com.proxiad.trainee.GameServiceImpl">
    	<property name="gameRepository" ref="gameRepository"/>
    	<property name="wordGeneratorService" ref="wordGeneratorService" />
    </bean>

</beans>
