html,
body{
	height:100%;
	width:100%;
	margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Candara;
    background-color: #d9d9d9;
}

.container {
	display: flex;
	justify-content: center;
  	align-items: center;
  	width:75%;
  	height: 100%;
  	background-color:white;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	overflow: auto; 
}

.container > * {
    margin: auto;
}

button {
	font-family: Candara;
}

input {
	font-family: Candara;
}

.input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

table {
	border-spacing: 15px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.key {
	min-width: 40px;
	max-width: 50px;
	height: 40px;
	background-color: #18b3b3;
	border-radius: 8px;
	border: none;
	margin: 2px;
	cursor: pointer;
	transition: ease 0.25s;
}

.key:hover {
	background-color: #5dc2c2;
	box-shadow: 3px 3px 2px #a1e3e3;
}

.key-disabled{
	min-width: 40px;
	max-width: 50px;
	height: 40px;
	background-color: gray;
	border-radius: 8px;
	border: none;
	margin: 2px;
	cursor:default;
	color:black;
}

.key-form{
	margin:2px;
	transition: ease 0.25s;
}

input.generic-btn, button.generic-btn {
	background-color: #18b3b3;
	border-radius: 8px;
	font-size: 14px;
	border: none;
	min-height: 35px;
	min-width: 170px;
	cursor: pointer;
	transition: ease 0.25s;
}

input.generic-btn:hover, button.generic-btn:hover {
	background-color: #5dc2c2;
	box-shadow: 4px 4px 2px #a1e3e3;
}

a.generic-btn {
	display:inline-block;
    background-color: #18b3b3;
    color: black;
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
    min-height: 35px;
    min-width: 170px;
    cursor: pointer;
    line-height: 35px;
    transition: ease 0.25s;
}

a.generic-btn:hover {
	background-color: #5dc2c2;
	box-shadow: 4px 4px 2px #a1e3e3;
}

.multiplayer-select{
	background-color: #18b3b3;
	min-width: 100px;
	border-radius: 8px;
	border: none;
	min-height:35px;
	text-align: center;
	font-family: Candara;
	cursor: pointer;
}

.word-input{
	-webkit-text-security: disc;
    text-security: disc;
}

.small-btn {
	min-width: 100px !important;
}

.content {
	text-align: center;
}

.stickman {
	margin-top:10px;
	max-height: 250px;
	width: auto;
}

.stickman-big{
	max-height: 400px;
	width: auto;
}

.success {
	color: green;
}

.error {
	color: red;
}

.input-error{
	color: red;
	font-size:10px;
}

.preserve-space {
	white-space: pre;
}